:root {
    --Color1: #e2c8ff;
    --Color2: #8c8ff7;
    --Color3: #485a9e;
    --Color4: #172b51;
    --Color5: #000011;
    --Color6: #ffa6ff;
    --Color7: #b180ec;
    --Color8: #ff8ccc;
    --Color9: #f166b1;
    --Color10: #00f7ff;
    --Color11: #00addb;
    --Color12: #007193;
    --Color13: #ff5a68d2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* Menu */

.menu {
    display: grid;
    width: 100%;
    height: 90px;
    background: var(--Color13);
    grid-template-columns: repeat(3, 5fr);
    grid-template-areas: "idioma logo opciones";
    border-bottom: solid 2px black;
}

.idioma {
    grid-area: idioma;
    text-align: center;
    margin: auto;
}

.logo {
    grid-area: logo;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.603);
    border: solid black 2px;
    border-radius: 200px;
    transform: translateY(10px);
    z-index: 2;
}

.opciones {
    grid-area: opciones;
    margin: auto 0;
}

.opciones ul, li {
    display: inline-block;
    padding: 5px;
    font-size: 1.1em;
}

.opciones ul, li, a {
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Color3);
}


.opciones a:hover {
    color: var(--Color1);
}

/* Estilo Boton seleccionar idioma */

.cambiarIdioma {
    position: relative;
    width: 50px;
    transform: translateY(-25px);
}


.cambiarIdioma::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: var(--Color1);
    border-radius: 25px;
}

.cambiarIdioma::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: var(--Color9);
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid var(--Color1);
    box-sizing: border-box;
}

.cambiarIdioma:checked::after {
    left: 25px;
    border: 2px solid var(--Color8);
}

.cambiarIdioma:checked::before {
    background: var(--Color8);
}

/* Tamaño banderas */
.es,.en {
    width: 50px;
    height: 50px;
}



/* Acionador para el responsibe del menu */

.movil {
    grid-area: opciones;
    margin: auto auto;
    display: none;
}

/* Estilos del main */

header {
    width: 100%;
    height: calc(100vh - 90px);

    /* Imagen Fondo */

    background-image: url(../img/Fondo-Inicio.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: .9;
}

/* Inicio */

#inicio {
    display: grid;
    width: 100%;
    height: calc(100vh - 90px);
}

.informacion {
    width:  30%;
    height: 30%;
    margin: auto auto;
    background: var(--Color9);
    border: solid 2px black;
    border-radius: 20px;
}

.informacion h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    margin-top: 25px;
    font-size: 25px;
}

.informacion h3 {
    text-align: center;
    text-transform: uppercase;
}

.informacion i {
    font-size: 2em;
    margin: auto auto;
    background: var(--Color1);
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.603);
}

.social a {
    text-decoration: none;;
}

.informacion .social {
    margin-top: 25px;
    text-align: center;

}

/* twitter */
.social a:nth-child(1) {
    color: #03a4ec;
}

/* instagram */
.social a:nth-child(2) {
    color: #dd2a7b;
}

/* github */
.social a:nth-child(3) {
    color: black;
}

/* Diseño responsibo */


@media (max-width: 1442px){

    /* Menu */

    .menu {
        font-size: .8em;
    }

}

@media (max-width: 1185px){

    /* Menu */

    .menu {
        font-size: .8em;
    }
    .movil {
        display: block;
    }
    .checkbtn {
        font-size: 30px;
        color: var(--Color3);
        cursor: pointer;
    }

    #check {
        display: none;
    }
    

    .opciones {
        grid-column: 1 / -1;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--Color13);
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .opciones-visible {
        left: 0;
    }
    
    .opciones ul li {
        display: block;
        margin: 50px 0;
        text-align: center;
        line-height: 10px;
    }
    
    .opciones ul li a {
        font-size: 20px;
    }
    
    /* Tamaño banderas */
    .es,.en {
        width: 25px;
        height: 25px;
    }
    .cambiarIdioma {
        position: relative;
        width: 50px;
        transform: translateY(-13px);
    }
    

}
